{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty City</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body{% block body %}{% endblock %}>
{% block mobMenu %}
{% endblock %}
<header id="header">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-2 col-md-2 mob">
                    <img src="{% static 'img/hamburger.svg' %}" alt="hamburger" class="header__mobMenu">
                </div>
                <div class="col-5 col-md-3 col-lg-2">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/Logo.svg' %}" alt="Logo" class="logo header__logo">
                    </a>
                </div>
                <div class="col-md-5 ">
                    <nav>
                        <ul class="menu">
                            <li class="menu__item"><a href="#" class="menu__item_link">Мастера</a></li>
                            <li class="menu__item"><a href="#" class="menu__item_link">Услуги</a></li>
                            <li class="menu__item"><a href="#" class="menu__item_link">Отзывы</a></li>
                            <li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-2 col-md-2 col-lg-3">
                    <div class="header__block">
                        <a href="tel:+79179023800">
                            <button class="header__block_btn">Перезвоните мне</button>
                        </a>
                        <div class="header__block_auth">
                            <img src="{% static 'img/acc.svg' %}" alt="account" class="header__account_img">
                            <span class="header__block_auth__intro">Войти</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
<footer id="footer">
    <div class="container">
        <div class="footer">
            <div class="footer__block">
                <div class="row">
                    <div class="col-md-3 col-lg-2">
                        <a href="/"><img src="{% static 'img/Logo.svg' %}" alt="logo" class="footer__logo"></a>
                    </div>
                    <div class="col-md-5 minMobHide">
                        <nav>
                            <ul class="menu">
                                <li class="menu__item"><a href="#" class="menu__item_link">Мастера</a></li>
                                <li class="menu__item"><a href="#" class="menu__item_link">Услуги</a></li>
                                <li class="menu__item"><a href="#" class="menu__item_link">Отзывы</a></li>
                                <li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer__contact">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer__data">с 10:00 до 20:00 без выходных</div>
                        </div>
                        <div class="col-md-3">
                            <a href="tel:+79179023800" class="contacts__info_tel">+7 (917) 902 38 00</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 minMobShow">
                            <nav>
                                <ul class="menu">
                                    <li class="menu__item"><a href="#" class="menu__item_link">Мастера</a></li>
                                    <li class="menu__item"><a href="#" class="menu__item_link">Услуги</a></li>
                                    <li class="menu__item"><a href="#" class="menu__item_link">Отзывы</a></li>
                                    <li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="footer__bottom">
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <a href="#" class="footer__link">Политика конфиденциальности</a>
                        </div>
                        <div class="col-md-3">
                            <div class="footer__copy">2022. Все права защищены</div>
                        </div>
                        <div class="col-md-3 col-lg-2">
                            <div class="footer__social fic">
                                <a href=""><img src="{% static 'img/waGray.svg' %}" alt="wa"
                                                class="contacts__social_icon"></a>
                                <a href=""><img src="{% static 'img/vkGray.svg' %}" alt="vk"
                                                class="contacts__social_icon"></a>
                                <a href=""><img src="{% static 'img/tgGray.svg' %}" alt="tg"
                                                class="contacts__social_icon"></a>
                                <a href=""><img src="{% static 'img/instaGray.svg' %}" alt="insta"
                                                class="contacts__social_icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block end %}
{% endblock %}
</body>
</html>