{% extends 'base.html' %}
{% load static %}
{% block mobMenu %}
  <section id="mobMenu">
    <div class="mobMenu">
      <div class="container">
        <div class="mobMenu__header">
          <div class="row">
            <div class="col-4 col-md-3">
              <a href="{% url 'index' %}">
                <img src="{% static 'img/Logo.svg' %}" alt="Logo" class="logo header__logo">
              </a>
            </div>
            <div class="col-3 col-md-2">
              <img src="{% static 'img/x.svg' %}" alt="x" class="mobMenuClose">
            </div>
          </div>
        </div>
        <div class="mobMenu__content">
          <div class="row">
            <div class="col-md-3">
              <nav>
                <ul class="mobMenu__menu">
                  <li class="mobMenu__menu_item">
                    <a href="#" class="mobMenu__menu_link">Мастера</a>
                  </li>
                  <li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Услуги</a></li>
                  <li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Отзывы</a></li>
                  <li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Контакты</a></li>
                </ul>
              </nav>
              <a href="#" class="mobMenu__account">Личный кабинет</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="mobMenu__btn">Перезвоните мне</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
  <section id="serviceFinally">
    <div class="container">
      <div class="serviceFinally">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="breadCrumbs">
              <a href="{% url 'index' %}" class="breadCrumbs__item">На главную</a>
            </div>
            <div class="service__block">
              <h1 class="service__title">Оплачено!</h1>
            </div>
            <div class="serviceFinally__form_block">
              <div class="serviceFinally__form_header fic">
                <span class="serviceFinally__form_header__number">Запись №{{ order.id }}</span>
                <div class="serviceFinally__form_header__item fic">
                  <div class="serviceFinally__form_header__service">{{ order.salon.name }}</div>
                  <div class="serviceFinally__form_header__address">{{ order.salon.address }}</div>
                </div>
              </div>
              <div class="serviceFinally__form_content">
                <div class="serviceFinally__form_content__block fic">
                  <div class="serviceFinally__form_content__title"> {{ order.service.name }}</div>
                  <div class="serviceFinally__form_content__price">{{ order.cost }} ₽</div>
                </div>
                <div class="serviceFinally__form_content__block fic">
                  <div class="serviceFinally__form_content__items fic">
                    <img src="{% static 'img/masters/avatar/vizajist1.svg' %}" alt="avatar"
                         class="accordion__block_img">
                    <div class="accordion__block_master">{{ order.master.name }}</div>
                  </div>
                  <div class="serviceFinally__form_content__item fic">
                    <div class="serviceFinally__form_content__time">{{ order.time|time:"H:i" }}</div>
                    <div class="serviceFinally__form_content__date">{{ order.time|date:"d.m.Y" }}</div>
                  </div>
                </div>

              </div>
            </div>
            <button type="button" class="serviceFinallys__form_btn" onclick="location.href='{% url 'pay' order_id=order.id%}'">Оплатить</button>
          </div>
          <div class="col-md-12 col-lg-5">
            <img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
