{% extends 'base.html' %}
{% load static %}
{% block body %} class="servicePage"{% endblock %}
{% block mobMenu %}
  <section id="mobMenu">
    <div class="mobMenu">
      <div class="container">
        <div class="mobMenu__header">
          <div class="row">
            <div class="col-4 col-md-3">
              <a href="/">
                <img src="{% static 'img/Logo.svg' %}" alt="Logo" class="logo header__logo">
              </a>
            </div>
            <div class="col-3 col-md-2">
              <img src="{% static 'img/x.svg' %}" alt="x" class="mobMenuClose">
            </div>
          </div>
        </div>
        <div class="mobMenu__content">
          <div class="row">
            <div class="col-md-3">
              <nav>
                <ul class="mobMenu__menu">
                  <li class="mobMenu__menu_item">
                    <a href="#" class="mobMenu__menu_link">Мастера</a>
                  </li>
                  <li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Услуги</a>
                  </li>
                  <li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Отзывы</a>
                  </li>
                  <li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Контакты</a>
                  </li>
                </ul>
              </nav>
              <a href="#" class="mobMenu__account">Личный кабинет</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="tel:" class="mobMenu__btn">Перезвоните мне</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
  <section id="service">
    <div class="container">
      <div class="service">
        <div class="breadCrumbs">
          <a href="{% url 'index' %}" class="breadCrumbs__item">На главную</a>
        </div>
        <div class="service__block">
          <h1 class="service__title">Запись на услугу</h1>
          <button class="service__btn btn">Запись по телефону</button>
        </div>
        <form action="#" class="service__form" method="post">
          {% csrf_token %}
          {% if form.errors %}
            <ul class="errorlist">
              {% for error in form.non_field_errors %}
                <li class="list-group-item list-group-item-danger">
                  {{ error }}
                </li>
              {% endfor %}
              {% for field in form %}
                {% if field.errors %}
                  {% for error in field.errors %}
                    <li class="list-group-item list-group-item-danger">
                      {{ field.label }} - {{ error }}
                    </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
          <input name="phone_number" type="hidden">
          <div class="service__form_block service__salons">
            <div class="d-none">salon-input</div>
            {% if current_salon %}
              <button class="accordion selected">{{ current_salon.name }}</button>
            {% else %}
              <button class="accordion">(Выберите салон)</button>
            {% endif %}
            <div class="panel">
              {% for salon in salons %}
                <div class="accordion__block fic">
                  <div class="d-none">{{ salon.id }}</div>
                  <div class="accordion__block_intro">{{ salon.name }}</div>
                  <div class="accordion__block_address">{{ salon.address }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="service__form_block service__services">
            <div class="d-none">service-input</div>
            {% if current_service %}
              <button class="accordion selected">{{ current_service.name }}</button>
            {% else %}
              <button class="accordion">(Выберите услугу)</button>
            {% endif %}
            <div class="panel">
              {% for service in services %}
                <div class="accordion__block fic">
                  <div class="d-none">{{ service.id }}</div>
                  <div class="accordion__block_intro">{{ service.name }}</div>
                  <div class="accordion__block_address">{{ service.price }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="service__form_block service__masters">
            <div class="d-none">master-input</div>
            {% if current_master %}
              <button class="accordion selected">{{ current_master.name }}</button>
            {% else %}
              <button class="accordion">(Выберите мастера)</button>
            {% endif %}
            <div class="panel">
              {% for master in masters %}
                <div class="accordion__block fic">
                  <div class="d-none">{{ master.id }}</div>
                  <div class="accordion__block_intro">{{ master.name }}</div>
                  <div class="accordion__block_address">{{ master.salon }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="time">
    <div class="container">
      <div class="time">
        <h2 class="time__title">Выберите время</h2>
        <div class="time__block">
          <div class="row">
            <div class="col-md-4">
              <div id="datepickerHere"></div>
            </div>
            <div class="col-md-8">
              <div class="time__elems">
                <div class="time__items">
                  <div class="time__elems_intro">Утро</div>
                  <div class="time__elems_elem fic">
                    <button data-time="10:00" class="time__elems_btn">10:00</button>
                    <button data-time="10:30" class="time__elems_btn">10:30</button>
                  </div>
                </div>
                <div class="time__items">
                  <div class="time__elems_intro">День</div>
                  <div class="time__elems_elem fic">
                    <button data-time="12:00" class="time__elems_btn">12:00</button>
                    <button data-time="12:30" class="time__elems_btn">12:30</button>
                    <button data-time="15:00" class="time__elems_btn">15:00</button>
                    <button data-time="16:30" class="time__elems_btn">16:30</button>
                  </div>
                </div>
                <div class="time__items">
                  <div class="time__elems_intro">Вечер</div>
                  <div class="time__elems_elem fic">
                    <button data-time="17:00" class="time__elems_btn">17:00</button>
                    <button data-time="18:30" class="time__elems_btn">18:30</button>
                    <button data-time="19:00" class="time__elems_btn">19:00</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="time__btns">
          <div class="row">
            <div class="col-md-12">
              <form id="order" action="#" method="post">
                {% csrf_token %}

                {% if current_salon %}
                  <input id="salon-input" type="hidden" name="salon" value="{{ current_salon.pk }}">
                {% else %}
                  <input id="salon-input" type="hidden" name="salon">
                {% endif %}
                {% if current_master %}
                  <input id="master-input" type="hidden" name="master" value="{{ current_master.pk }}">
                {% else %}
                  <input id="master-input" type="hidden" name="master">
                {% endif %}
                {% if current_service %}
                  <input id="service-input" type="hidden" name="service" value="{{ current_service.pk }}">
                {% else %}
                  <input id="service-input" type="hidden" name="service">
                {% endif %}

                <input id="date-input" type="hidden" name="date">
                <input id="time-input" type="hidden" name="time">
              </form>
              <button form="order" type="submit" class="time__btns_next">Далее</button>
              <button class="time__btns_home" onclick="location.href='{% url 'index' %}'" type="button">
                На главную
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
{% block end %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  </script>
{% endblock %}
