{% extends 'base.html' %}
{% load static %}
{% block mobMenu %}
  <section id="mobMenu">
    <div class="mobMenu">
      <div class="container">
        <div class="mobMenu__header">
          <div class="row">
            <div class="col-4 col-md-3">
              <a href="{% url 'index' %}">
                <img src="{% static 'img/Logo.svg' %}" alt="Logo" class="logo header__logo">
              </a>
            </div>
            <div class="col-3 col-md-2">
              <img src="{% static 'img/x.svg' %}" alt="x" class="mobMenuClose">
            </div>
          </div>
        </div>
        <div class="mobMenu__content">
          <div class="row">
            <div class="col-md-3">
              <nav>
                <ul class="mobMenu__menu">
                  <li class="mobMenu__menu_item">
                    <a href="#" class="mobMenu__menu_link">Мастера</a>
                  </li>
                  <li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Услуги</a></li>
                  <li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Отзывы</a></li>
                  <li class="mobMenu__menu_item"><a href="#" class="mobMenu__menu_link">Контакты</a></li>
                </ul>
              </nav>
              <a href="#" class="mobMenu__account">Личный кабинет</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="mobMenu__btn">Перезвоните мне</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
  <section id="serviceFinally">
    <div class="container">
      <div class="serviceFinally">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="breadCrumbs">
              <a href="{% url 'index' %}" class="breadCrumbs__item">На главную</a>
            </div>
            <div class="service__block">
              {% if order.client %}
                <h1 class="service__title">Запись оформлена</h1>
              {% else %}
                <h1 class="service__title">Запись на услугу</h1>
              {% endif %}
            </div>
            <form id="client-input" action="#" class="serviceFinally__form" method="post">
              {% csrf_token %}
              {% if form.errors %}
                <ul class="errorlist">
                  {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">
                      {{ error }}
                    </li>
                  {% endfor %}
                  {% for field in form %}
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <li class="list-group-item list-group-item-danger">
                          {{ field.label }} - {{ error }}
                        </li>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
              <div class="serviceFinally__form_block">
                <div class="serviceFinally__form_header fic">
                  <span class="serviceFinally__form_header__number">Запись №{{ order.id }}</span>
                  <div class="serviceFinally__form_header__item fic">
                    <div class="serviceFinally__form_header__service">{{ order.salon.name }}</div>
                    <div class="serviceFinally__form_header__address">{{ order.salon.address }}</div>
                  </div>
                </div>
                <div class="serviceFinally__form_content">
                  <div class="serviceFinally__form_content__block fic">
                    <div class="serviceFinally__form_content__title"> {{ order.service.name }}</div>
                    <div class="serviceFinally__form_content__price">{{ order.cost }} ₽</div>
                  </div>
                  <div class="serviceFinally__form_content__block fic">
                    <div class="serviceFinally__form_content__items fic">
                      <img src="{% static 'img/masters/avatar/vizajist1.svg' %}" alt="avatar"
                           class="accordion__block_img">
                      <div class="accordion__block_master">{{ order.master.name }}</div>
                    </div>
                    <div class="serviceFinally__form_content__item fic">
                      <div class="serviceFinally__form_content__time">{{ order.time|time:"H:i" }}</div>
                      <div class="serviceFinally__form_content__date">{{ order.time|date:"d.m.Y" }}</div>
                    </div>
                  </div>

                </div>
              </div>
              {% if not order.client %}
                <div class="serviceFinally__form_itesm">
                  <div class="contacts__form_block fic">
                    <input id="name-input" type="text" name="name" class="contacts__form_iunput"
                           placeholder="Введите имя" required="" value="{{ client_name }}">
                  </div>
                  <div class="contacts__form_inputBlock">
                    <input id="phone-input" type="text" name="phone_number" class="contacts__form_iunput"
                           placeholder="+7(999)999--99-99" required="" value="{{ client_phone_number }}">
                  </div>
                  <textarea id="question-input" name="question" class="contacts__form_textarea"
                            placeholder="Вопрос(необязательно)">{{ client_question }}</textarea>
                  <div class="contacts__form_checkboxBlock fic">
                    <input id="agreement-input" type="checkbox" name="agreement" class="contacts__form_checkbox"
                           checked="" required="">
                    <span
                      class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
                  </div>
                  <button type="submit" class="serviceFinallys__form_btn">Записаться</button>
                </div>
              {% else %}
                {% if not order.is_paid %}
                  <button type="button" class="serviceFinallys__form_btn"
                          onclick="location.href='{% url 'pay' order_id=order.id %}'">Оплатить
                  </button>
                {% else %}
                  <div class="serviceFinally__form_content__price">Заказ оплачен</div>
                {% endif %}
              {% endif %}
            </form>
          </div>
          <div class="col-md-12 col-lg-5">
            <img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
